.version.delirio_display /* version checker */
{
	color: #00001D;
	background-color: #361C24;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 1400px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	margin-bottom: -40px;
	width: 0.01px;
}

#u89
{
	z-index: 4;
	height: 187px;
}

#u89:hover
{
	height: 187px;
	min-height: 0px;
	margin: 0px;
}

#u89-bw
{
	z-index: 4;
	height: 187px;
}

#menuu111
{
	z-index: 5;
	width: 1000px;
	margin-right: -10000px;
	margin-top: 125px;
	left: 100px;
}

#u354
{
	width: 198px;
	min-height: 34px;
	margin-right: -10000px;
}

#u355
{
	width: 198px;
	padding-bottom: 22px;
}

#u355:hover
{
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u355:active
{
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u367
{
	width: 198px;
	min-height: 34px;
	margin-right: -10000px;
	left: 200px;
}

#u370
{
	width: 198px;
	padding-bottom: 22px;
}

#u355.MuseMenuActive,#u370:hover
{
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u370:active
{
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u380
{
	width: 198px;
	min-height: 34px;
	margin-right: -10000px;
	left: 400px;
}

#u381
{
	width: 198px;
	padding-bottom: 22px;
}

#u370.MuseMenuActive,#u381:hover
{
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u381:active
{
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u381.MuseMenuActive
{
	width: 198px;
	min-height: 0px;
	margin: 0px;
}

#u356-4_clip,#u373-4_clip,#u382-4_clip
{
	width: 198px;
	height: 12px;
}

#u393
{
	width: 199px;
	min-height: 34px;
	margin-right: -10000px;
	left: 600px;
}

#u394
{
	width: 199px;
	padding-bottom: 22px;
}

#u394:hover
{
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u394:active
{
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u406
{
	width: 199px;
	min-height: 34px;
	margin-right: -10000px;
	left: 801px;
}

#u407
{
	width: 199px;
	padding-bottom: 22px;
}

#u394.MuseMenuActive,#u407:hover
{
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u407:active
{
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u407.MuseMenuActive
{
	width: 199px;
	min-height: 0px;
	margin: 0px;
}

#u396-4_clip,#u409-4_clip
{
	width: 199px;
	height: 12px;
}

#u356-4,#u373-4,#u382-4,#u396-4,#u409-4
{
	margin-right: -10000px;
	top: 11px;
}

#u417
{
	z-index: 36;
	width: 144px;
	margin-right: -10000px;
	margin-top: 65px;
	left: 538px;
}

#u2207
{
	z-index: 88;
	width: 1545px;
	background-color: transparent;
	left: -271px;
	margin-top: 1px;
	position: relative;
}

#pu2318-4
{
	width: 0.01px;
	padding-bottom: 283px;
	margin-left: -75px;
	margin-top: -343px;
}

#u2318-4
{
	z-index: 90;
	-webkit-transform: matrix(0,-1,1,0,126,158);
	-ms-transform: matrix(0,-1,1,0,126,158);
	transform: matrix(0,-1,1,0,126,158);
	position: fixed;
	top: 373px;
	left: -100px;
}

#u2318-4_img
{
	display: block;
	vertical-align: top;
}

#u2237
{
	z-index: 66;
	width: 25px;
	top: 378px;
	left: 50%;
	margin-left: 612px;
}

#u2152-8
{
	z-index: 68;
	display: block;
	vertical-align: top;
	margin-left: 105px;
	margin-top: 142px;
	position: relative;
}

#u2171
{
	z-index: 76;
	width: 1433px;
	background-color: transparent;
	left: -227px;
	margin-top: 73px;
	position: relative;
}

#u2183
{
	z-index: 80;
	width: 1247px;
	background-color: transparent;
	left: -114px;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u2188
{
	z-index: 82;
	width: 1290px;
	background-color: transparent;
	left: -148px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2193
{
	z-index: 84;
	width: 1292px;
	background-color: transparent;
	left: -155px;
	position: relative;
}

#u2198
{
	z-index: 86;
	width: 1297px;
	background-color: transparent;
	left: -100px;
	top: -1px;
	margin-bottom: -1px;
	position: relative;
}

#u2177
{
	z-index: 78;
	width: 1439px;
	background-color: transparent;
	left: -279px;
	position: relative;
}

#pu89,#pu476
{
	width: 0.01px;
	margin-left: -100px;
}

#u476,#u476-bw
{
	z-index: 2;
	height: 143px;
}

#u490
{
	z-index: 3;
	width: 162px;
	padding-bottom: 2px;
	margin-right: -10000px;
	margin-top: 42px;
	left: 914px;
}

#u491-4
{
	z-index: 57;
	margin-right: -10000px;
	margin-top: 5px;
	left: 4px;
}

#u477-7
{
	z-index: 38;
	margin-right: -10000px;
	margin-top: 42px;
	left: 100px;
}

#u487-4
{
	z-index: 45;
	margin-right: -10000px;
	margin-top: 42px;
	left: 525px;
}

#u488-4
{
	z-index: 49;
	margin-right: -10000px;
	margin-top: 68px;
	left: 914px;
}

#u489-4
{
	z-index: 53;
	margin-right: -10000px;
	margin-top: 90px;
	left: 914px;
}

#u2221
{
	z-index: 61;
	width: 157px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 524px;
}

#u2221_img
{
	padding-right: 1px;
}

#u2227
{
	z-index: 63;
	width: 29px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 588px;
}

#u2232
{
	z-index: 64;
	width: 29px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 651px;
}

#u2228
{
	z-index: 65;
	width: 29px;
	height: 29px;
	margin-right: -10000px;
	margin-top: 70px;
	left: 524px;
}

.ie #u2227,.ie #u2232,.ie #u2228
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

body
{
	position: relative;
	min-width: 1000px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

